[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
matplotlib = "*"
ipykernel = "*"
tensorflow-datasets = "*"
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.10"
