[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu113/"
verify_ssl = true
name = "pytorch"

[packages]
matplotlib = "*"
ipykernel = "*"
ipywidgets = "*"
tensorboard = "*"
torch = {version = "==1.11.0+cu113", index = "pytorch"}
pandas = "*"
tqdm = "*"
pyyaml = "*"
torchmetrics = "*"

[dev-packages]
torch-tb-profiler = "*"
gdown = "*"
hvplot = "*"

[requires]
python_version = "3.10"
